@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Sunuwar&family=Oswald:wght@200..700&family=Playwrite+VN+Guides&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0px;
    padding: 0px;

}
html, body{
    font-family: Georgia, 'Times New Roman', Times, serif;
   min-height: 100vh;
   background-color: darkgray;

}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    text-transform: small-caps;
}
header > p{
    padding-bottom: 50px;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

section.normal{
    background-color: black;
    color: white;

}
section.imagem{
    background-color: gray;
    color: white;
}
section{
    font-family: "Playwrite VN Guides",cursive;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section.imagem > p{
    background-color: rgb(30, 15, 15);
}